<h3 class="ui header">{{t "forms.i-i-s-sonya-7-расход-денег-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.iD
      class=(if (v-get validationModel "iD" "isInvalid") "error")
      label=(t "forms.i-i-s-sonya-7-расход-денег-e.iD-caption")
      data-test-i-i-s-sonya-7-расход-денег-e-iD=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "iD" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-sonya-7-расход-денег-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-sonya-7-расход-денег-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field" data-test-i-i-s-sonya-7-расход-денег-e-банк="true">
    <label>{{t "forms.i-i-s-sonya-7-расход-денег-e.банк-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-sonya-7-банк")
      value=model.банк
      class=(if (v-get validationModel "банк" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "банк" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.счет
      class=(if (v-get validationModel "счет" "isInvalid") "error")
      label=(t "forms.i-i-s-sonya-7-расход-денег-e.счет-caption")
      data-test-i-i-s-sonya-7-расход-денег-e-счет=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "счет" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.иНН
      class=(if (v-get validationModel "иНН" "isInvalid") "error")
      label=(t "forms.i-i-s-sonya-7-расход-денег-e.иНН-caption")
      data-test-i-i-s-sonya-7-расход-денег-e-иНН=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "иНН" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.бИК
      class=(if (v-get validationModel "бИК" "isInvalid") "error")
      label=(t "forms.i-i-s-sonya-7-расход-денег-e.бИК-caption")
      data-test-i-i-s-sonya-7-расход-денег-e-бИК=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "бИК" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.финансисты.фИО
      class=(if (v-get validationModel.финансисты "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-sonya-7-расход-денег-e.финансисты.фИО-caption")
      data-test-i-i-s-sonya-7-расход-денег-e-финансисты-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.финансисты "фИО" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.поставщики.наименование
      class=(if (v-get validationModel.поставщики "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-sonya-7-расход-денег-e.поставщики.наименование-caption")
      data-test-i-i-s-sonya-7-расход-денег-e-поставщики-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.поставщики "наименование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сумма
      class=(if (v-get validationModel "сумма" "isInvalid") "error")
      label=(t "forms.i-i-s-sonya-7-расход-денег-e.сумма-caption")
      data-test-i-i-s-sonya-7-расход-денег-e-сумма=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сумма" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-sonya-7-расход-денег-e.переченьМат-caption"}}</label>
    {{flexberry-groupedit
      componentName="переченьМатGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.переченьМат
      content=model.переченьМат
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "переченьМат" "isInvalid") "error")
      data-test-i-i-s-sonya-7-расход-денег-e-переченьМат=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "переченьМат" "message")}}
  </div>
</form>
